<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body>
    <div class="main-body">
        <header><h6 class="text-success-emphasis">WORLAFOLIO</h6></header>
        {% block content %}
        {% endblock %}
        <footer><h3 class="text-bg-dark">FOOTER</h3></footer>
    </div>
</body>
</html>
